.leaflet-container {
  height: 400px;
}

.dark-mode {
  filter: brightness(0.6) invert(1) contrast(1.5) hue-rotate(200deg) saturate(0.1) brightness(0.3);
}

.my-tooltip-class {
  min-width: 250px !important;
  max-width: 300px !important;
  border-radius: 0.5rem !important;
  -moz-border-radius: 0.5rem  !important;
  -webkit-border-radius: 0.5rem !important;
  border: 0.75px solid #999999 !important;
  padding: 0.5rem !important;
  font-size: 0.75rem !important;
  color: #CCCCCC !important;
  overflow: hidden !important;
  background-color: rgba(56, 58, 62, 0.9)!important;
  font-family: 'Google Sans', 'Roboto', 'Helvetica Neue', sans-serif;
}

.mo-tooltip .title {
  margin-bottom: 0.5rem;
}

.mo-tooltip .side-name {
  font-size: 1rem;
  font-weight: 700;
}

.mo-tooltip .detail-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  line-height: 1.5;
}

.mo-tooltip .detail-label {
  margin-right: 1rem;
}

.mo-tooltip .crash-rate {
  font-size: 1rem;
  font-weight: 700;
}

.leaflet-control-attribution {
  display: none;
}