.legend-container {
  width: 300px;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.legend-transform {
  transform: scale(0.75);
}

.legend-gradient {
  height: 4px;
  margin: 8px 0;
  border-radius: 2px;
  background-image: linear-gradient(to right, hsla(60, 0%, 55%, 0.31) 0, hsla(15, 75%, 55%, 0.85) 80%, hsla(15, 100%, 40%, 0.85));
}

.legend-labels {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 5px;
}