#NetworkLegend {
  display: none;
}

#NetworkLegendTrigger:hover + #NetworkLegend, #NetworkLegend:hover {
  display: inline-block;
}

#NetworkOneFactor {
  width: 350px;
}

#NetworkTwoFactor {
  width: 350px;
}

.NetworkFormula {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 0;
}

.NetworkFormulaElement {
  padding: 0px 6px;
}
.NetworkFraction {
  text-align: center;
}

.NetworkLines {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.NetworkLine {
  margin: 8px 0;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.NetworkLineSample {
  width: 120px;
  margin-right: 10px;
}