#ScatterPlotLegend {
  display: none;
  width: 250px;
}

#ScatterPlotLegendTrigger:hover + #ScatterPlotLegend, #ScatterPlotLegend:hover {
  display: inline-block;
}

.ScatterPlotLegendRow {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.ScatterPlotLegendElement {
  display: flex;
  align-items: center;
}

.ScatterPlotLegendCircle {
  display: flex;
  align-items: center;
  display: inline-block;
  border-radius: 50%;
}

.ScatterPlotLegendCircle.SmallCount {
  height: 8px;
  width: 8px;
  border: 1px solid #666666;
}

.ScatterPlotLegendCircle.MidCount {
  height: 20px;
  width: 20px;
  border: 1px solid #666666;
}

.ScatterPlotLegendCircle.LargeCount {
  height: 32px;
  width: 32px;
  border: 1px solid #666666;
}

.ScatterPlotLegendFigure {
  padding: 6px;
}

.ScatterPlotLegendInjuryColor {
  margin-bottom: 0.5rem;
  height: 16px;
  border-radius: 8px;
  background: linear-gradient(to right, hsla(10, 90%, 45%, 0.75) 0, hsla(10, 90%, 55%, 0.75) 33.3%, hsla(10, 90%, 60%, 0.6) 50%, hsla(10, 0%, 60%, 0.15) 100%)
}

.ScatterPlotLegendInjuryFigures {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}