.treeMapParent {
  height: 580px;
}

.treeMap {
  height: 600px;
  transform: translatey(-20px);
}

#TreeMapRoot {
  display: none;
}

.treeMapContent {
  text-align: center;
}

.treeMapCause {
  margin: 0px 6px 6px;
  line-height: 1;
  font-size: 20px;
  font-weight: 700;
}

.treeMapCrashes {
  font-size: 12px;
}

.treeMapInjuryRate {
  font-size: 12px;
}

.treeMapIcon {
  vertical-align: -2px;
  font-size: 12px!important;
  transform: scale(0.8);
  -webkit-transform: scale(0.8);
}

.lineTooltipLevel {
  padding-right: 16px;
}

.lineTooltipFigure {
  float: right;
}

.barFigure {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 0.75rem;
  font-weight: 700;
}

.NetworkCategory {
  font-size: 12px;
  letter-spacing: .15rem;
  color: #777777;
}

#Network {
  position: relative;
  height: 475px;
}

#NetworkLighting {
  position: absolute;
  top: 128px;
  left: 116px;
  transform: scale(0.8) rotate(-24deg);
}

#NetworkWeather {
  position: absolute;
  top: 34px;
  left: 410px;
  transform: scale(0.8) rotate(18deg);
}

#NetworkRoadway {
  position: absolute;
  top: 200px;
  left: 622px;
  transform: scale(0.8) rotate(44deg);
}

#Network2 {
  position: relative;
  top: 25px;
  left: 25px;
}

#Network2Lighting {
  position: absolute;
  top: 205px;
  left: -48px;
  transform: scale(0.7) rotate(-90deg);
}

#Network2Weather {
  position: absolute;
  top: 30px;
  left: 208px;
  transform: scale(0.7) rotate(28deg);
}

#Network2Roadway {
  position: absolute;
  top: 340px;
  left: 223px;
  transform: scale(0.7) rotate(-42deg);
}

.bubbleTypeLarge {
  font-size: 1.25rem;
  font-weight: 700;
}

.bubbleTypeMid {
  font-size: 1rem;
  font-weight: 700;
}

.bubbleTypeSmall {
  font-size: 0.8rem;
  font-weight: 700;
}

.bubbleCountLarge {
  font-size: 1rem;
  opacity: 0.6;
}

.bubbleCountMid {
  font-size: 0.8rem;
  opacity: 0.6;
}

.bubbleCountSmall {
  font-size: 0.64rem;
  opacity: 0.6;
}

/* div.vis-tooltip {
  z-index: 5;
  visibility: hidden;
  position: absolute;
  margin-left: 0.9rem;
  margin-bottom: -1.2rem;
  padding: 0.5rem;
  max-width: 160px;
  border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  border: 0.75px solid #999999;
  font-size: 0.75rem;
  color: #CCCCCC;
  background-color: rgba(56, 58, 62, 0.7);
  pointer-events: none;
} */