body {
  background-color: #1f1f1f;
  margin: 0rem;
  border: 0rem;
  padding: 6rem 1.5rem 1.5rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: row;
  justify-content: center;
  color: #d3d3d3;
}

.subtitle {
  font-size: 1rem;
  font-weight: 400;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.filterBar {
  position: fixed;
  margin: 1rem auto;
  height: 4rem;
  width: 800px;
  border-radius: 2rem;
  background-color: #444746;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #8e918f;
}

.filterName {
  font-size: 1rem;
  font-weight: 400;
  margin-right: 0.5rem;
}

.chartTitle {
  font-size: 1.25rem;
  font-weight: 700;
}

/* div.vis-tooltip {
  z-index: 5;
  visibility: hidden;
  position: absolute;
  margin-left: 0.9rem;
  margin-bottom: -1.2rem;
  padding: 0.5rem;
  max-width: 160px;
  border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  -webkit-border-radius: 0.5rem;
  border: 0.75px solid #999999;
  font-size: 0.75rem;
  color: #CCCCCC;
  background-color: rgba(56, 58, 62, 0.7);
  pointer-events: none;
} */